# Create a file named ".env" in this directory with the following variables

# --- SIS Scraper Variables ---

# Directories are relative to the SIS scraper script
SCRAPER_LOGS_DIR="logs"
SCRAPER_CODE_MAPS_DIR="code_mappings"
SCRAPER_RAW_OUTPUT_DATA_DIR="scraper_data"
SCRAPER_PROCESSED_OUTPUT_DATA_DIR="processed_data"

# Filenames are relative to the SCRAPER_CODE_MAPS_DIR variable
ATTRIBUTE_CODE_NAME_MAP_FILENAME="attribute_code_name_map.json"
INSTRUCTOR_RCSID_NAME_MAP_FILENAME="instructor_rcsid_name_map.json"
RESTRICTION_CODE_NAME_MAP_FILENAME="restriction_code_name_map.json"
SUBJECT_CODE_NAME_MAP_FILENAME="subject_code_name_map.json"

SCRAPER_DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/..."

# --- Database Variables ---

# This root password is only used for instantiating the MySQL container in
# Docker Compose.
DB_ROOT_PASSWORD="password"

DB_DIALECT="mysql"
DB_API="mysqlconnector"
DB_HOSTNAME="db:3306"
DB_USERNAME="carpi_user"
DB_PASSWORD="carpi_password"
DB_SCHEMA="carpi_data"